
.footer__copy{
	color: #899499;
	font-size: 4vw;
}

.footer__copy a{
	text-decoration: underline;
	color: white!important;
}





@media (min-width: 768px) and (max-width: 1023px){
.footer__copy{
	font-size: 3.5vw;
}
}