
@font-face {
  font-family: "Armalite";
  src: url("../fonts/armalite.ttf")
  format("truetype");
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/moderno.otf")
  format("truetype");
}




body{
	font-family: Arial, Sans-Serif;
	background-color: black;
	color: white;
	text-align: center;
}

a{
	text-decoration: none;
}

h1, h2, h3{
	text-transform: uppercase;
}

h2, h3{
	font-family: "Armalite";
	font-size: 12vw;
}

h1{
	font-size: 7vw;
	font-weight: bold;
}

section p{
	font-size: 4.5vw;
}

.section__container video{
	width: 90vw;
	height: 50vw;
	object-fit: fill;
}

.section__container img{
	height: 60vw;
	width: 100%;
	object-fit: fill;
}
