
@font-face {
  font-family: "Armalite";
  src: url("../fonts/armalite.ttf")
  format("truetype");
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/moderno.otf")
  format("truetype");
}




body{
	font-family: Arial, Sans-Serif;
	background-color: black;
	color: white;
	text-align: center;
}

a{
	text-decoration: none;
}

h1, h2, h3{
	text-transform: uppercase;
}

h2, h3{
	font-family: "Armalite";
	font-size: 11vw;
}

h1{
	font-size: 6.5vw;
	font-weight: bold;
}

section p{
	font-size: 4.5vw;
}

.section__container video{
	width: 90vw;
	height: 50vw;
	object-fit: fill;
}

.section__container img{
	height: 60vw;
	width: 100%;
	object-fit: fill;
}

.section__container figure{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__container figcaption{
	text-align: left;
	color: #A9A9A9;
	font-size: 4vw;
	align-self: flex-start;
}

.section__container ul{
	padding: 0!important;
	font-size: 4.5vw;
}

.section__container ul a{
	color: white!important;
	text-decoration: underline;
	font-size: 6vw;
	transition: color 0.3s;
}

.section__container ul a:hover{
	color: #708090!important;
}





@media (min-width: 768px) and (max-width: 1023px){
h2, h3{
	font-size: 9vw;
}

h1{
	font-size: 6vw;
}

.container{
	padding-left: 10vw!important;
	padding-right: 10vw!important;
}

section p{
	font-size: 4vw;
}

.section__container video{
	width: 70vw;
	height: 40vw;
}

.section__container img{
	height: 40vw;
}

.section__container figcaption{
	font-size: 3vw;
}

.section__container ul{
	font-size: 4vw;
}

.section__container ul a{
	font-size: 5vw;
}
}



@media (min-width: 1024px){
h2, h3{
	font-size: 9vh;
}

h1{
	font-size: 5vh;
}

.container{
	padding-left: 10vw!important;
	padding-right: 10vw!important;
}

section p{
	font-size: 5vh;
}

.section__container video{
	width: 70vw;
	height: 50vh;
}

.section__container img{
	height: 60vh;
}

.section__container figcaption{
	font-size: 3.5vh;
}

.section__container ul{
	font-size: 5vh;
}

.section__container ul a{
	font-size: 5.5vh;
}
}