
.mobile-menu-button{
	cursor: pointer;
	left: 2vw;
	top: 5vw;
	z-index: 99;
	background-color: black;
	border-radius: 10px;
	padding: 3vw 4vw;
}

.mobile-menu-button span{
	display: block;
	height: 3px;
	width: 8vw;
	background-color: white;
	margin-bottom: 2vw;
}

.mobile-menu-button span:last-child{
	margin-bottom: 0;
}

.header__logo{
	width: 100%;
}
