
.mobile-menu-modal{
	width: 0;
	height: 100vh;
	transition: width 2s;
	top: 20vw;
	z-index: 99;
}

.mobile-menu-modal-opened{
	width: 100vw;
	transition: width 0s;
}

.mobile-menu{
	background-color: #28282B;
	font-size: 5vw;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	max-width: 0;
	height: calc(100vh - 35vw);
	overflow: hidden;
	transition: max-width 0.4s;
	z-index: 98;
	margin-top: 15vw;
}

.mobile-menu ul{
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

.mobile-menu ul::-webkit-scrollbar {
    display: block;
    width: 3px;
}
.mobile-menu ul::-webkit-scrollbar-track {
    background-color: transparent;
}
    
.mobile-menu ul::-webkit-scrollbar-thumb {
    background-color: white;
}

.mobile-menu a{
	color: white!important;
}

.mobile-menu ul li span{
	white-space: nowrap;
}

.mobile-menu-opened{
	max-width: 50vw;
	transition: max-width 0.4s 0s;
}

.mobile-menu__wing{
	width: 70vw;
	height: 30vw;
	left: 0;
	z-index: 99;
	transform: translateX(-80vw);
	transition: transform 0.4s 0.4s;
}

.mobile-menu__wing-opened{
	transform: translateX(0);
	transition: transform 0.4s 0s;
}

.mobile-menu ul li img{
	width: 100%;
	transition: transform 0.5s;
	height: 10vw;
	transform: translateX(-50vw);
}

.mobile-menu ul li:hover > img{
	transform: translateX(-25%);
}





@media (min-width: 768px) and (max-width: 1023px){
.mobile-menu{
	font-size: 4.5vw;
}

.mobile-menu ul{
	padding-top: 15vw!important;
}

.mobile-menu ul::-webkit-scrollbar {
  width: 7px;
}

.mobile-menu ul li:hover > img{
	transform: translateX(-15%);
}
}



@media (min-width: 1024px){
.mobile-menu-modal{
	display: none;
}
}